#header{
		background-color: wheat;
		padding-top: 3%;
		padding-bottom: 3%;
			}
			img{
				width: 70%;
			}
			.down{
				padding-top: 1%;
			}
			body{
				font-family: "Montserrat", "Microsoft Yahei";
				background-color:#F5F5F5;
				}
				/* Style the sidebar - fixed full height */
		.sidebar {
		height: 100%;
		width: 13%;
		/* position: fixed; */
		/* z-index: 1; */
		top: 0;
		left: 0;
		background-color:blanchedalmond;
		overflow-x: hidden;
		padding-top: 16px;
		}
		/* Style sidebar links */
		.sidebar a {
		padding: 6px 8px 6px 16px;
		text-decoration: none;
		font-size: 20px;
		color: #818181;
		display: block;
		}
		/* Style links on mouse-over */
		.sidebar a:hover {
		color: chocolate;
		}
		.dropdown-btn {
		padding: 6px 8px 6px 16px;
		text-decoration: none;
		font-size: 20px;
		color: #818181;
		display: block;
		border: none;
		background: none;
		width:100%;
		text-align: left;
		cursor: pointer;
		outline: none;
		}
		.dropdown-container{
			padding-left: 8%;
		}
		.col-4{
			margin-left: 40%;
		}
		input[type="text"] { border: none; cursor: pointer;background-color:#F5F5F5;}
		.table td, .table th {
			font-size: 20px;
			vertical-align: middle;
		}
