* {box-sizing: border-box;}
body {
font-family: "Montserrat", "Microsoft Yahei";
cursor: default;
min-width:1200px;
}
img{
width: 15%;
}
section{
font-family: "Montserrat", "Microsoft Yahei";
margin: 0px 50px 20px 50px;
}
section:after {
content: "";
display: table;
clear: both;
}
/*會員頭貼*/
.head{
margin-top: 30px;
margin-bottom: 30px;
}
/*側導覽*/
.taball {
float: left;
border: 1px solid #ccc;
background-color: #D7D8B6;
width: 20%;
height: 500px;
margin-top: 20px;
}
.taball button {
display: block;
background-color: inherit;
color: black;
padding: 22px 16px;
width: 100%;
border: none;
outline: none;
text-align: left;
cursor: pointer;
transition: 0.3s;
font-size: 23px;
font-family: "Montserrat", "Microsoft Yahei";
}
.taball button:hover {
background-color: #B3B492;
color: white;
}
.taball button.active {
background-color: #B3B492;
outline: none;
color: white;
border-right-style: solid;
border-right-color: #8B8C71;
}
/*右側內容*/
.tabcontent {
float: left;
padding: 10px 50px;
border: 1px solid #ccc;
width: 80%;
border-left: none;
height: 500px;
margin-top: 20px;
overflow: auto;
font-size: 25px;
}
/*表格*/
table{
line-height: 40px;
margin: 0px auto;
width: 80%;
border-collapse:collapse;
border:3px #bbd0a3 dashed;
}
th, td
{
border:2px #bbd0a3 solid;
padding:10px;
padding-left: 10px;
}
/*修改資料*/
.self input{
border: 0;
background: transparent;
outline:none;
font-family: "Montserrat", "Microsoft Yahei";
line-height: 40px;
}
.self input::-moz-focus-inner {
border: 0;
}
.self_btn{
width: 100%;
height: auto;
padding-top: 10px;
padding-right: 70px;
}
.self input.self_btn{
background: transparent;
font-family: "Montserrat", "Microsoft Yahei";
float: right;
width: 120px;
height: 50px;
cursor: pointer;
}
.self input.self_btn:hover{
text-decoration:underline;
}
.accordion {
background-color:#F9EDCA;
color: #444;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 23px;
transition: 0.4s;
font-family: "Montserrat", "Microsoft Yahei";
margin-top: 10px;
}
.active, .accordion:hover {
background-color: #EFCC86;
}
.tabcontent button.active {
background-color:#EFCC86;
outline: none;
}
.panel {
padding: 20px 20px 10px 20px;
display: none;
overflow: hidden;
line-height: 20px;
background-color:#F9EDCA;
overflow: auto;
height: 210px;
font-size: 20px;
}
.accordion:after {
content: '\02795'; /* Unicode character for "plus" sign (+) */
font-size: 21px;
float: right;
margin-left: 5px;
}
.accordion.active:after {
content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.block {
    display: block;
}
